<h1>All Students</h1>
<br>

<% @students.each do |student| %>
<%= link_to student.name, student_path(student) %><br>
<br> <%= link_to "Delete", student_path(student), method: :delete, data: {confirm: "Confirm Delete?"}%><br>
<br>
<% end %>
<br>
<%= link_to "Create Student", new_student_path %><br>
